#container {
	margin-top: 70px;	
}
.space-below {
	margin-bottom: 10px;
}

table.cipherTable td{
	border: 1px solid black;
	padding: 2px;
}

table.extTable td{
	border: 1px solid black;
	padding: 2px;
}

table.cipherTable th{
	padding: 2px;
}

fieldset > div {
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
}

legend.host-legend a{
	/*margin: 10px;*/
	vertical-align: super;
}

div.certificate {
	border: 1px gray dashed;
	margin: 8px;
	padding: 3px;
}
div.certificate a.rawcert{
	/*margin: 10px;*/
	vertical-align: super;
}
.x500name .rdn{
	border: 1px gray dotted;
	margin: 5px;
}
