#container {
	margin-top: 70px;
}
.space-below {
	margin-bottom: 10px;
}

table.cipherTable td {
	border: 1px solid black;
	padding: 2px;
}

table.extTable td {
	border: 1px solid black;
	padding: 2px;
}

table.cipherTable th {
	padding: 2px;
}

fieldset > div {
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
}

legend.host-legend a {
	/*margin: 10px;*/
	vertical-align: super;
}

div.certificate {
	/*border: 1px gray dashed;*/
	margin: 8px;
	padding: 3px;
}

div.certificate table.certTable td {
	border: 1px solid black;
	padding: 3px 10px;
}

div.certificate a.rawcert {
	/*margin: 10px;*/
	vertical-align: super;
	margin-left: 3px;
}
div.trust-chain {
	border: 1px solid black;
	margin: 5px 0px;
}
.x500name .rdn {
	border: 1px gray dotted;
	margin: 1px;
	display: block;
}
.x500name .rdn .ava > span:first-child {
	min-width: 5em;
	display: inline-block;
	text-align: right;
}

span.unknownVal {
	color: gray;
}

.enumeration :after {
	content: ", ";
}
.enumeration :last-child:after {
	content: "";
}

div#outline{
	position: fixed;
	top: 80px;
	border: 1px solid black;
	margin: 10px;
	padding: 5px;

	max-height: 80%;
	overflow: auto;
	max-width: 330px;
}
@media (max-width: 1850px){
div#outline{
	visibility:hidden;
}
}
div#outline ul{
	padding: 15px;
}

table.ciphertable, td.cipher-kextype[data-value="RSA"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-kextype[data-value="DH"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-kextype[data-value="ECDH"] {
    background-color:#ddf;
}

table.ciphertable, td.cipher-authtype[data-value="RSA"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-authtype[data-value="DSA"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-authtype[data-value="ECDSA"] {
    background-color:#ddf;
}

table.ciphertable, td.cipher-enctype[data-value="RC2"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-enctype[data-value="RC4"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-enctype[data-value="RC5"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-enctype[data-value^="DES"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-enctype[data-value^="Salza20"] {
    background-color:#ddf;
}
table.ciphertable, td.cipher-enctype[data-value^="Chacha20"] {
    background-color:#ddf;
}
table.ciphertable, td.cipher-enctype[data-value="Camellia"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-enctype[data-value="AES"] {
    background-color:#efd;
}
table.ciphertable, td.cipher-enctype[data-value^="GOST"] {
    background-color:#dff;
}
table.ciphertable, td.cipher-enctype[data-value^="SEED"] {
    background-color:#fed;
}

table.ciphertable, td.cipher-encksize[data-type="RC2"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-encksize[data-type="RC4"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-encksize[data-type="RC5"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-encksize[data-type^="DES"][data-value="40"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-encksize[data-type^="DES"][data-value="56"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-encksize[data-type^="DES"][data-value="112"] {
    background-color:#fed;
}
table.ciphertable, td.cipher-encksize[data-type^="DES"][data-value="168"] {
    background-color:#fed;
}
table.ciphertable, td.cipher-encksize[data-type="Camellia"][data-value="128"] {
    background-color:#ffd;
}
table.ciphertable, td.cipher-encksize[data-type="Camellia"][data-value="192"] {
    background-color:#efd;
}
table.ciphertable, td.cipher-encksize[data-type="Camellia"][data-value="256"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-encksize[data-type="AES"][data-value="128"] {
    background-color:#ffd;
}
table.ciphertable, td.cipher-encksize[data-type="AES"][data-value="192"] {
    background-color:#efd;
}
table.ciphertable, td.cipher-encksize[data-type="AES"][data-value="256"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-encksize[data-type="Chacha20"][data-value="256"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-encksize[data-type="Salsa20"][data-value="256"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-encksize[data-type^="GOST"] {
    background-color:#ddf;
}
table.ciphertable, td.cipher-encksize[data-type^="SEED"] {
    background-color:#fed;
}

table.ciphertable, td.cipher-encbsize[data-value="Stream"] {
    background-color:#eee;
}
table.ciphertable, td.cipher-encbsize[data-type^="DES"][data-value="64"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-encbsize[data-type="Camellia"][data-value="128"] {
    background-color:#ffd;
}
table.ciphertable, td.cipher-encbsize[data-type="Camellia"][data-value="192"] {
    background-color:#efd;
}
table.ciphertable, td.cipher-encbsize[data-type="Camellia"][data-value="256"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-encbsize[data-type="AES"][data-value="128"] {
    background-color:#ffd;
}
table.ciphertable, td.cipher-encbsize[data-type="AES"][data-value="192"] {
    background-color:#efd;
}
table.ciphertable, td.cipher-encbsize[data-type="AES"][data-value="256"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-encbsize[data-type^="GOST"] {
    background-color:#ddf;
}
table.ciphertable, td.cipher-encbsize[data-type^="SEED"] {
    background-color:#fed;
}

table.ciphertable, td.cipher-mode[data-value="CBC"] {
    background-color:#fdd;
}
table.ciphertable, td.cipher-mode[data-value="GCM"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-mode[data-value="CCM"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-mode[data-value="EAX"] {
    background-color:#ddf;
}
table.ciphertable, td.cipher-mode[data-value="Stream"] {
    background-color:#eee;
}

table.ciphertable, td.cipher-mactype[data-value^="SHA-1"] {
    background-color:#ffd;
}
table.ciphertable, td.cipher-mactype[data-value^="SHA-256"] {
    background-color:#efd;
}
table.ciphertable, td.cipher-mactype[data-value^="SHA-384"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-mactype[data-value^="SHA-512"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-mactype[data-value^="MD5"] {
    background-color:#fcc;
}
table.ciphertable, td.cipher-mactype[data-value="GCM"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-mactype[data-value="CCM"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-mactype[data-value="Poly1305"] {
    background-color:#ddf;
}

table.ciphertable, td.cipher-pfs[data-value="yes"] {
    background-color:#dfd;
}
table.ciphertable, td.cipher-pfs[data-value="no"] {
    background-color:#fdd;
}

table.ciphertable, td.symmeq-unknown {
    background-color:#dddddd;
}
table.ciphertable, td.symmeq-none {
    background-color:#ff4444;
}
table.ciphertable, td.symmeq-40less {
    background-color:#ff6666;
}
table.ciphertable, td.symmeq-40 {
    background-color:#ff8888;
}
table.ciphertable, td.symmeq-64 {
    background-color:#ffaaaa;
}
table.ciphertable, td.symmeq-80 {
    background-color:#ffcccc;
}
table.ciphertable, td.symmeq-96 {
    background-color:#ffdddd;
}
table.ciphertable, td.symmeq-112 {
    background-color:#ffeedd;
}
table.ciphertable, td.symmeq-128 {
    background-color:#ffffdd;
}
table.ciphertable, td.symmeq-160 {
    background-color:#f7ffdd;
}
table.ciphertable, td.symmeq-192 {
    background-color:#eeffdd;
}
table.ciphertable, td.symmeq-224 {
    background-color:#e6ffdd;
}
table.ciphertable, td.symmeq-256 {
    background-color:#ddffdd;
}
